body {
    font-family: 'PT Sans', serif;
    background: #f6f5f5;
}

h1,h2 {
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    color: #333;
    border-bottom: 1px dashed #ccc;
}

h2 {
    font-size: 1.2em;
}

ul {
  list-style: none;
}

.wrapper {
    margin: 2em auto;
    width: 30%;
    border: 1px solid #ccc;
    background: white;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.error {
    background: #F0D6D6;
    padding: 0.5em;
}

#create_todo {
     padding: 10px;
}

#todo_title {
    width: 62%;
    font-size: 18px;
    font-family: inherit;
    line-height: 1.3em;
    outline: none;
    padding: 7px;
    margin-left: 10px;
    margin-top: 20px;
    border: 1px solid #999999;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#add_button {
    display: inline-block;
    width: 28%;
    margin-left: 7px;
    padding-top: 11px;
    padding-bottom: 9px;
    background-color: #ccc;
    color: #333;
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 51%);
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#todo_list {
  display: block;
  padding: 0px;
  margin-left: 0px;
  margin-top: 10px;
}

/*#todo_list li {
    padding: 12px 20px 11px 0;
    position: relative;
    font-size: 18px;
    line-height: 1em;
}
*/
/*
#todo_list li:after {
#  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
*/
#todo_list li.editing {
  padding: 0;
  border-bottom: 0;
}
#todo_list .editing .display,
#todo_list .edit {
display: none;
}
#todo_list .editing .edit {
  display: block;
}
#todo_list .editing input {
  width: 65%;
  font-size: 24px;
  font-family: inherit;
  margin: 0;
  line-height: 1.6em;
  outline: none;
  padding: 10px 7px 0px 27px;
  border: 1px solid #999999;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

input[type="checkbox"] {
    display:none;
}
#todo_list .checkbox {
    top: 2px;
    margin-left: 10px;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 8px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

#todo_list .done .checkbox {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
#todo_list .done .checkbox:after {
    content: '\2713';
    font-size: 25px;
    position: absolute;
    top: -2px;
    left:0px;
    color: #003366;
}
#todo_list .done .checkbox {
    background-color: #0099cc;
}
#todo_list .todo {
    margin-left: 0px;
    padding: 12px 20px 11px 12px;
    position: relative;
    font-size: 18px;
    line-height: 1em;
}

#todo_list .blue {
    background-color:rgba(204,204,255,0.5);
}

#todo_list .todo_title {
    margin-left: 5px;
    display: inline-block;
    width: 90%;
}
#todo_list .todo_title:after {
    float: right;
    content: '\2630';
    font-size: 18px;
    color: #cccccc;
}
#todo_list .done .todo_title {
text-decoration: line-through;
color: #cccccc;
}


#todo_stats {
  border-top: 1px dashed #ccc;
  margin-top: 50px;
  padding: 20px;
  color: #777777;
}
#todo_stats:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
#todo_stats .todo_count {
    float: left;
}

#todo_stats .todo_clear {
    float: right;
}
#todo_stats .todo_clear a {
  color: #6699ff;
  text-decoration: none;
}
  #todo_stats .todo_clear a:visited {
    color: #6699ff;
  }
  #todo_stats .todo_clear a:hover {
    color: #336699;
  }

footer {
    clear:both;
    text-align: center;
    font-size: 0.5em;
}

footer a {
    color: #333;
}